<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Quote Database</title>
		<style type="text/css" media="screen">
			table, th, td { border: 1px solid #ccc; }
		</style>
	</head>
	<body>
		<h1>Quote Database</h1>
		
		<table>
			<thead>
				<tr>
					<th>Quote ID</th>
					<th>Submitter</th>
					<th>Date</th>
					<th>Quote</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{exp:qdb:entries limit="10" order_by="created_at" sort="random"}
				<tr>
					<td>{quote.id}</td>
					<td>{quote.submitter.screen_name}</td>
					<td>{quote.created format="%Y-%m-%d %H:%i:%s"}</td>
					<td>
						{quote.lines}
						{if line.type == "message"}
							&lt;<strong>{line.nick}</strong>&gt; {line.message}<br/>
						{if:elseif line.type == "action"}
							* <strong>{line.nick}</strong> {line.message}<br/>
						{if:elseif line.type == "event"}
							*** <strong>{line.nick}</strong> {line.message}<br/>
						{if:else}
							{line.message}<br/>
						{/if}
						{/quote.lines}
					</td>
					<td>{quote.status}</td>
				</tr>
				{if no_results}
				<tr>
					<td colspan="5">There are no quotes in the database.</td>
				</tr>
				{/if}
				{/exp:qdb:entries}
			</tbody>
		</table>
	</body>
</html>
